* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.buttons {
    margin: auto;
}

a {
    display: block;
    text-align: center;
    height: 50px;   
    text-decoration: none;
    color: #222;
    border: 2px solid #444;
    padding: 15px;
    margin: 10px;
}

a:hover {
    background-color: black;
    border-color: white;
    color: #eee
}